<!DOCTYPE html>
<html>
<head>
    <title>Product Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Search Products</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="search" class="sr-only">Search Form</label>
                <input value="{{ request.GET.q }}" type="text" name="q" class="form-control" id="search" placeholder="Search Products">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h3>Search Results</h3>
            </div>
        </div>
        <hr>
        {% if results %}
        <h6><b>Hits:</b> {{ results.hits.total }}</h5>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    {% for product in results %}
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ product.name }}<small> |  ({{ product.category.name }})</small></h5>
                      <small>{{ product.timestamp }}</small>
                    </div>
                    <p class="mb-1">{{ product.description }}</p>
                    <small><b>Regular Price:</b> {{ product.regular_price }}$ | <b>Final Price:</b> {{ product.final_price }}${% if product.discount %} | <b>Discount:</b> {{ product.discount }}${% endif %}</small>
                  </a>
                  {% endfor %}
                </div>
            </div>
        </div>
        {%  else %}
            <h6>No Results Found.</h6>
        {% endif %}
</body>
</html>
